@page "/signup"
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<h3>Register</h3>

<EditForm Model="user" OnSubmit="HandleRegister">
    <div class="form-group">
    <div class="form-group">
        <label for="fullname">Full name</label>
        <Input id="fullname" class="form-control" />
    </div>
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="user.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Retype Password</label>
        <Input id="password" type="password" class="form-control" />
    </div>
    <div style="text-align:center">
        <a href="login"><button type="submit" class="btn btn-primary" style="width:200px;height:50px;font-size:20px">Submit</button> </a>
    </div>
</EditForm>

@code {
    private User user = new User();

    private async void HandleRegister()
    {
        Console.WriteLine("Log me in!");
        await LocalStorage.SetItemAsync<string>("username", user.Username);
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}